<%- include('partials/landing_header.ejs') %> 

<h1>About Us</h1>

<h3> This applications was coded by Ijeoma and Emily as part of their capstone project for ACC Software Coding Bootcamp. This is a cumulation of some of the coding skills we learned in 6 months. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi autem, fuga fugiat qui accusantium omnis odit, magnam assumenda eaque laborum officiis? Nulla, doloribus consectetur reprehenderit quae veniam eius sequi aut! </h3>

<p>
    Features:
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    Coming:
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>







<%- include('partials/landing_footer.ejs') %> 








