<%- include ('partials/landing_header.ejs') %> 
<div id="text-div">
    <h1>JobStreamlining</h1>
    <h3>Your personal job assistant and application manager</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sint, fugiat beatae iste error facere atque deserunt velit voluptate ipsam, voluptates nemo maxime quo eum dolore laborum autem. Ut, vero!</p>
    <form action="/signup" method="get">
        <button type="submit">Sign Up</button>
    </form>
</div>
<div id="img-div">
    <img id="working" src="assets/graphic-people-working-removebg-preview.png" alt="working people"/>
</div>

<%- include('partials/landing_footer.ejs') %> 