<%- include('partials/landing_header.ejs') %> 
<div>
    <form action="" method="get">
        Email: <input type="email" name="" id="">
        Password: <input type="password" name="" id="">
        <button type="submit">Login</button>
    </form>
</div>

<%- include('partials/landing_footer.ejs') %> 