<%- include('partials/landing_header.ejs') %> 
<div>
    <form action="" method="get">
        First name: <input type="text" name="" id="">
        Last name: <input type="text" name="" id="">
        Email: <input type="email" name="" id="">
        Password: <input type="password" name="" id="">
        <button type="submit">Signup</button>
    </form>
</div>

<%- include('partials/landing_footer.ejs') %> 