*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../assets/Untitled_design.png');
    background-size: cover;
    color: grey;
    width: 100%;
}

#text-div{
    margin-top: 5%;
    margin-left: 10px;
    width: 50%;
}

#img-div{
    text-align: center;
    
}
#working{
    width: 75em;
    
}